In [1]:
!pip install pandas
!pip install pymongo
!pip install boto3

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting pymongo
  Downloading pymongo-4.11-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 339.1 kB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 17.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11
Collecting boto3
  Downloading boto3-1.36.12-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.2/139.2 kB 38.0 kB/s eta 0:00:00a 0:00:01
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.12.0,>=0.11.0
  Downloading s3transfer-0.11.2-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.2/84.2 kB 169.5 kB/s eta 0:00:00a 0:00:01
Collecting botocore<1.37.0,>=1.36.12
  Downloading botocore-1.36.12-py3-none-any.whl (13.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 9.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore<1.37.0,>=1.36.12->boto3) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore<1.37.0,>=1.36.12->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.37.0,>=1.36.12->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.36.12 botocore-1.36.12 jmespath-1.0.1 s3transfer-0.11.2

In [108]:
import os
import numpy as np
import pandas as pd
from io import BytesIO
import boto3

In [162]:
# Ler o json contendo os estados
df_estados = pd.read_json('../arquivos/estados.json')
df_estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [110]:
# Verifica se possui valores nulos
for coluna in df_estados.columns:
    num_nulos = df[coluna].isna().sum()
    num_vazios = df[coluna].eq('').sum()

    print(f"Quantidade de valores nulos na coluna '{coluna}': {num_nulos}")
    print(f"Quantidade de valores vazios na coluna '{coluna}': {num_vazios}")
    print("==")

Quantidade de valores nulos na coluna 'codigo_uf': 0
Quantidade de valores vazios na coluna 'codigo_uf': 0
==
Quantidade de valores nulos na coluna 'uf': 0
Quantidade de valores vazios na coluna 'uf': 0
==
Quantidade de valores nulos na coluna 'nome': 0
Quantidade de valores vazios na coluna 'nome': 0
==
Quantidade de valores nulos na coluna 'latitude': 0
Quantidade de valores vazios na coluna 'latitude': 0
==
Quantidade de valores nulos na coluna 'longitude': 0
Quantidade de valores vazios na coluna 'longitude': 0
==
Quantidade de valores nulos na coluna 'regiao': 0
Quantidade de valores vazios na coluna 'regiao': 0
==

In [168]:
# Removendo UFs duplicadas(caso exista)
df_estados = df_estados.drop_duplicates(subset='uf')
df_estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [171]:
# Lendo a planilha de municípios
df_municipios = pd.read_csv('../arquivos/municipios.csv');
df_municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [172]:
# Criando o diretório base para salvar os arquivos
diretorio_base = 'aula-6/'
if not os.path.exists(diretorio_base):
    os.makedirs(diretorio_base)

In [174]:
# Criando os arquivos com os valores para cada município
for uf in df_estados['codigo_uf']:
    dados_municipios = df_municipios[df_municipios['codigo_uf'] == uf]
    dados_estado = df_estados[df_estados['codigo_uf'] == uf]
    sigla_uf = dados_estado['uf'].iloc[0]
    
    caminho_pasta = os.path.join(diretorio_base, sigla_uf)
    if not os.path.exists(caminho_pasta):
        os.makedirs(caminho_pasta)

    caminho_arquivo = os.path.join(diretorio_base, sigla_uf, f'cidades_{sigla_uf}.csv')
    dados_municipios.to_csv(caminho_arquivo, index=False, encoding='utf-8')
    print(f"Arquivo salvo: {caminho_arquivo}")

Arquivo salvo: aula-6/RO/cidades_RO.csv
Arquivo salvo: aula-6/AC/cidades_AC.csv
Arquivo salvo: aula-6/AM/cidades_AM.csv
Arquivo salvo: aula-6/RR/cidades_RR.csv
Arquivo salvo: aula-6/PA/cidades_PA.csv
Arquivo salvo: aula-6/AP/cidades_AP.csv
Arquivo salvo: aula-6/TO/cidades_TO.csv
Arquivo salvo: aula-6/MA/cidades_MA.csv
Arquivo salvo: aula-6/PI/cidades_PI.csv
Arquivo salvo: aula-6/CE/cidades_CE.csv
Arquivo salvo: aula-6/RN/cidades_RN.csv
Arquivo salvo: aula-6/PB/cidades_PB.csv
Arquivo salvo: aula-6/PE/cidades_PE.csv
Arquivo salvo: aula-6/AL/cidades_AL.csv
Arquivo salvo: aula-6/SE/cidades_SE.csv
Arquivo salvo: aula-6/BA/cidades_BA.csv
Arquivo salvo: aula-6/MG/cidades_MG.csv
Arquivo salvo: aula-6/ES/cidades_ES.csv
Arquivo salvo: aula-6/RJ/cidades_RJ.csv
Arquivo salvo: aula-6/SP/cidades_SP.csv
Arquivo salvo: aula-6/PR/cidades_PR.csv
Arquivo salvo: aula-6/SC/cidades_SC.csv
Arquivo salvo: aula-6/RS/cidades_RS.csv
Arquivo salvo: aula-6/MS/cidades_MS.csv
Arquivo salvo: aula-6/MT/cidades_MT.csv
Arquivo salvo: aula-6/GO/cidades_GO.csv
Arquivo salvo: aula-6/DF/cidades_DF.csv

In [175]:
# Conectando ao minio
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='p4HTseKABqsxaUHP',
    aws_secret_access_key='mQynDeLzLSWAFfSukQu1DimpNk230VBp',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [176]:
# Enviando os dados para o minio
for root,dirs, files in os.walk(diretorio_base):
    dirs[:] = [d for d in dirs if not d.startswith('.')]
    for file in files:
        if file.endswith('.csv'):
            caminho_completo = os.path.join(root, file)
            caminho_minio = os.path.relpath(caminho_completo, diretorio_base)
            parts = [part for part in caminho_minio.split(os.sep) if part not in (".", "..")]
            caminho_minio = "/".join(parts)
            try:
                client.upload_file(
                    caminho_completo, 'aula-06', caminho_minio
                )
                print(f"Arquivo '{caminho_minio}' enviado para o MinIO.")
            except Exception as err:
                print(f"Erro ao enviar '{caminho_minio}': {err}")

Arquivo 'AC/cidades_AC.csv' enviado para o MinIO.
Arquivo 'AL/cidades_AL.csv' enviado para o MinIO.
Arquivo 'AM/cidades_AM.csv' enviado para o MinIO.
Arquivo 'AP/cidades_AP.csv' enviado para o MinIO.
Arquivo 'BA/cidades_BA.csv' enviado para o MinIO.
Arquivo 'CE/cidades_CE.csv' enviado para o MinIO.
Arquivo 'DF/cidades_DF.csv' enviado para o MinIO.
Arquivo 'ES/cidades_ES.csv' enviado para o MinIO.
Arquivo 'GO/cidades_GO.csv' enviado para o MinIO.
Arquivo 'MA/cidades_MA.csv' enviado para o MinIO.
Arquivo 'MG/cidades_MG.csv' enviado para o MinIO.
Arquivo 'MS/cidades_MS.csv' enviado para o MinIO.
Arquivo 'MT/cidades_MT.csv' enviado para o MinIO.
Arquivo 'PA/cidades_PA.csv' enviado para o MinIO.
Arquivo 'PB/cidades_PB.csv' enviado para o MinIO.
Arquivo 'PE/cidades_PE.csv' enviado para o MinIO.
Arquivo 'PI/cidades_PI.csv' enviado para o MinIO.
Arquivo 'PR/cidades_PR.csv' enviado para o MinIO.
Arquivo 'RJ/cidades_RJ.csv' enviado para o MinIO.
Arquivo 'RN/cidades_RN.csv' enviado para o MinIO.
Arquivo 'RO/cidades_RO.csv' enviado para o MinIO.
Arquivo 'RR/cidades_RR.csv' enviado para o MinIO.
Arquivo 'RS/cidades_RS.csv' enviado para o MinIO.
Arquivo 'SC/cidades_SC.csv' enviado para o MinIO.
Arquivo 'SE/cidades_SE.csv' enviado para o MinIO.
Arquivo 'SP/cidades_SP.csv' enviado para o MinIO.
Arquivo 'TO/cidades_TO.csv' enviado para o MinIO.

In [153]:
import io

from pymongo import MongoClient
from io import StringIO

In [177]:
# Conectando ao MongoDB
client_mongodb =  MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
db = client_mongodb['exercicios']
collection = db['cidades_estados']

In [178]:
# Obtendo todos os dados do bucket
response = client.list_objects_v2(Bucket='aula-06')

In [180]:
# Inserindo no MongoDB
if 'Contents' in response:
    for obj in response['Contents']:
        key = obj['Key']  # A key representa o "caminho" do arquivo no bucket (ex.: "AC/cidades_AC.csv")
        print(f"Processando o objeto: {key}")
        
        # Baixa o objeto para a memória usando um stream (BytesIO)
        file_stream = io.BytesIO()
        client.download_fileobj(Bucket='aula-06', Key=key, Fileobj=file_stream)
        file_stream.seek(0)  # Retorna o ponteiro para o início do stream
        
        text_stream = io.StringIO(file_stream.getvalue().decode('utf-8'))
        data = pd.read_csv(text_stream)
        data.reset_index(inplace=True)
        data_dict = data.to_dict("records")
        # Insert collection
        collection.insert_many(data_dict)

Processando o objeto: AC/cidades_AC.csv
Processando o objeto: AL/cidades_AL.csv
Processando o objeto: AM/cidades_AM.csv
Processando o objeto: AP/cidades_AP.csv
Processando o objeto: BA/cidades_BA.csv
Processando o objeto: CE/cidades_CE.csv
Processando o objeto: DF/cidades_DF.csv
Processando o objeto: ES/cidades_ES.csv
Processando o objeto: GO/cidades_GO.csv
Processando o objeto: MA/cidades_MA.csv
Processando o objeto: MG/cidades_MG.csv
Processando o objeto: MS/cidades_MS.csv
Processando o objeto: MT/cidades_MT.csv
Processando o objeto: PA/cidades_PA.csv
Processando o objeto: PB/cidades_PB.csv
Processando o objeto: PE/cidades_PE.csv
Processando o objeto: PI/cidades_PI.csv
Processando o objeto: PR/cidades_PR.csv
Processando o objeto: RJ/cidades_RJ.csv
Processando o objeto: RN/cidades_RN.csv
Processando o objeto: RO/cidades_RO.csv
Processando o objeto: RR/cidades_RR.csv
Processando o objeto: RS/cidades_RS.csv
Processando o objeto: SC/cidades_SC.csv
Processando o objeto: SE/cidades_SE.csv
Processando o objeto: SP/cidades_SP.csv
Processando o objeto: TO/cidades_TO.csv

![MongoDB](img/aula-06.png)